USE [master]
GO
/****** Object:  Database [BHouseDB]    Script Date: 03/28/2018 15:28:24 ******/



CREATE DATABASE [BHouseDB] 

GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BHouseDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BHouseDB]
GO
/****** Object:  Table [dbo].[BillTBL]    Script Date: 03/28/2018 15:28:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BillTBL](
	[roomNumber] [int] NOT NULL,
	[defaultFee] [int] NOT NULL,
	[electricity] [int] NULL,
	[extraFee] [int] NULL,
	[monthBill] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[roomNumber] ASC,
	[monthBill] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CustomerTBL]    Script Date: 03/28/2018 15:28:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CustomerTBL](
	[customerID] [int] NOT NULL,
	[roomNumber] [int] NOT NULL,
	[customerName] [nvarchar](200) NOT NULL,
	[identityCard] [varchar](12) NOT NULL,
	[phoneNumber] [varchar](13) NOT NULL,
	[parentsPhoneNumber] [varchar](13) NULL,
	[dateJoin] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[customerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ExtraTBL]    Script Date: 03/28/2018 15:28:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExtraTBL](
	[extraID] [int] IDENTITY(1,1) NOT NULL,
	[roomNumber] [int] NOT NULL,
	[productName] [nvarchar](200) NOT NULL,
	[quantity] [int] NOT NULL,
	[pricePerProduct] [int] NOT NULL,
	[detail] [nvarchar](200) NULL,
	[extraDate] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[extraID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LoginTBL]    Script Date: 03/28/2018 15:28:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LoginTBL](
	[customerID] [int] IDENTITY(0,1) NOT NULL,
	[uname] [varchar](20) NOT NULL,
	[psw] [varchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[customerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 03/28/2018 15:28:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Notification](
	[NotificationID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](200) NOT NULL,
	[Detail] [varchar](1000) NULL,
	[DateCreated] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RoomInfoTBL]    Script Date: 03/28/2018 15:28:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoomInfoTBL](
	[roomNumber] [int] NOT NULL,
	[roomTypeID] [int] NOT NULL,
	[numPerson] [int] NOT NULL,
	[available] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[roomNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RoomTypeTBL]    Script Date: 03/28/2018 15:28:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RoomTypeTBL](
	[roomTypeID] [int] NOT NULL,
	[optional] [bit] NOT NULL,
	[closed] [bit] NOT NULL,
	[price] [int] NOT NULL,
	[note] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[roomTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[BillTBL] ([roomNumber], [defaultFee], [electricity], [extraFee], [monthBill]) VALUES (1, 100000, 110000, 0, CAST(N'2017-05-01' AS Date))
INSERT [dbo].[BillTBL] ([roomNumber], [defaultFee], [electricity], [extraFee], [monthBill]) VALUES (1, 100000, 120000, 0, CAST(N'2017-06-01' AS Date))
INSERT [dbo].[BillTBL] ([roomNumber], [defaultFee], [electricity], [extraFee], [monthBill]) VALUES (1, 100000, 113000, 0, CAST(N'2017-07-01' AS Date))
GO
INSERT [dbo].[CustomerTBL] ([customerID], [roomNumber], [customerName], [identityCard], [phoneNumber], [parentsPhoneNumber], [dateJoin]) VALUES (1, 1, N'Dinh Le Hoang', N'111111111111', N'0912345678', N'0912345679', CAST(N'2017-05-01' AS Date))
INSERT [dbo].[CustomerTBL] ([customerID], [roomNumber], [customerName], [identityCard], [phoneNumber], [parentsPhoneNumber], [dateJoin]) VALUES (2, 2, N'Nguyen Van Thai', N'222222222222', N'0987654321', N'0987654320', CAST(N'2017-03-01' AS Date))
INSERT [dbo].[CustomerTBL] ([customerID], [roomNumber], [customerName], [identityCard], [phoneNumber], [parentsPhoneNumber], [dateJoin]) VALUES (3, 2, N'Tran Huu Hiep', N'333333333333', N'0123456789', N'0123456780', CAST(N'2017-08-01' AS Date))
SET IDENTITY_INSERT [dbo].[LoginTBL] ON 

INSERT [dbo].[LoginTBL] ([customerID], [uname], [psw]) VALUES (0, N'admin', N'admin')
INSERT [dbo].[LoginTBL] ([customerID], [uname], [psw]) VALUES (1, N'hoangdl', N'hoangdl')
INSERT [dbo].[LoginTBL] ([customerID], [uname], [psw]) VALUES (2, N'thainv', N'thainv')
SET IDENTITY_INSERT [dbo].[LoginTBL] OFF
INSERT [dbo].[RoomInfoTBL] ([roomNumber], [roomTypeID], [numPerson], [available]) VALUES (1, 2, 1, 1)
INSERT [dbo].[RoomInfoTBL] ([roomNumber], [roomTypeID], [numPerson], [available]) VALUES (2, 2, 2, 1)
INSERT [dbo].[RoomInfoTBL] ([roomNumber], [roomTypeID], [numPerson], [available]) VALUES (3, 4, 1, 1)
INSERT [dbo].[RoomTypeTBL] ([roomTypeID], [optional], [closed], [price], [note]) VALUES (1, 1, 1, 1400000, N'Full option and closed')
INSERT [dbo].[RoomTypeTBL] ([roomTypeID], [optional], [closed], [price], [note]) VALUES (2, 1, 0, 1300000, N'Full option but not closed')
INSERT [dbo].[RoomTypeTBL] ([roomTypeID], [optional], [closed], [price], [note]) VALUES (3, 0, 1, 1300000, N'Closed but not full option')
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__LoginTBL__C7D2484E0AD2A005]    Script Date: 03/28/2018 15:28:25 ******/
ALTER TABLE [dbo].[LoginTBL] ADD UNIQUE NONCLUSTERED 
(
	[uname] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BillTBL]  WITH CHECK ADD FOREIGN KEY([roomNumber])
REFERENCES [dbo].[RoomInfoTBL] ([roomNumber])
GO
ALTER TABLE [dbo].[CustomerTBL]  WITH CHECK ADD FOREIGN KEY([customerID])
REFERENCES [dbo].[LoginTBL] ([customerID])
GO
ALTER TABLE [dbo].[CustomerTBL]  WITH CHECK ADD FOREIGN KEY([roomNumber])
REFERENCES [dbo].[RoomInfoTBL] ([roomNumber])
GO
ALTER TABLE [dbo].[ExtraTBL]  WITH CHECK ADD FOREIGN KEY([roomNumber])
REFERENCES [dbo].[RoomInfoTBL] ([roomNumber])
GO
ALTER TABLE [dbo].[RoomInfoTBL]  WITH CHECK ADD FOREIGN KEY([roomTypeID])
REFERENCES [dbo].[RoomTypeTBL] ([roomTypeID])
GO
USE [master]
GO
